# Lab-4

# Matplotlib Exercises

* Name:
* Student ID:

### Import Numpy, Panda and Matplotlib library

In [51]:
import numpy as np
x = np.arange(0,50)
y = x*2
z = x**2

## Question 1

Follow steps: 
* Create a figure object called fig using plt.figure() **
* Use add_axes to add an axis to the figure canvas at [0,0,1,1]. Call this new axis ax. 
* Plot (x,y) on that axes and set the labels and titles to match the plot below:**

## Question 2
* Create a figure object and put two axes on it, ax1 and ax2. Located at [0,0,1,1] and [0.2,0.5,.2,.2] respectively.
* plot (x,y) on both axes. And call your figure object to show it.

## Question 3

* Read the dataset Titanic, create the dataframe and read all columns.
* Plot the Age column information
* Plot all columns information

## Exercise 4

Create a bar chart and pie chart for the column Age, Parch and Sex of the Titanic dataset.

In [ ]:
Please save as Pdf and upload in Blackboard Lab4.